@font-face {
    font-family: 'Sarabun-Light';
    src: url('Sarabun-Light.eot');
    src: url('Sarabun-Light.eot?#iefix') format('embedded-opentype'),
        url('Sarabun-Light.woff2') format('woff2'),
        url('Sarabun-Light.woff') format('woff'),
        url('Sarabun-Light.ttf') format('truetype'),
        url('Sarabun-Light.svg#Sarabun-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Sarabun-Bold';
    src: url('Sarabun-Bold.eot');
    src: url('Sarabun-Bold.eot?#iefix') format('embedded-opentype'),
        url('Sarabun-Bold.woff2') format('woff2'),
        url('Sarabun-Bold.woff') format('woff'),
        url('Sarabun-Bold.ttf') format('truetype'),
        url('Sarabun-Bold.svg#Sarabun-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

